@{
  Layout = "_Layout";
}
@model StudentRandomizerMvc.Models.Match

<h2>Match @Html.DisplayFor(model => model.MatchId)</h2>
<h2>@ViewBag.MatchStudents[0].Name & @ViewBag.MatchStudents[1].Name<h2>
<h2>Number of Times in a Team: @Html.DisplayFor(model => model.MatchScore)</h2>

<p>@Html.ActionLink("Edit Match", "Edit", new{ id = Model.MatchId})</p>
<p>@Html.ActionLink("Back to list of matches", "Index")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>
