@{
  Layout = "_Layout";
}
@model StudentRandomizerMvc.Models.Match

<h2>Details for: @Html.DisplayFor(model => model.MatchId)</h2>
<h2>Match Score: @Html.DisplayFor(model => model.Score)</h2>

<p>@Html.ActionLink("Edit Match", "Edit", new{ id = Model.MatchId})</p>
<p>@Html.ActionLink("Back to list of matches", "Index")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>
