@{
  Layout = "_Layout";
}

@model StudentRandomizerMvc.Models.Student

<h2>Edit</h2>

<h4>Edit: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <input type="submit" value="Save" />
}

<p> @Html.ActionLink("Back to Student List", "Index") </p>