@{
  Layout = "_Layout";
}

@model List<StudentRandomizerMvc.Models.Student>

<h1>Student Roster</h1>

<ul>
  @foreach (Student student in Model)
  {
    <li>@Html.ActionLink($"{student.Name} ({student.StudentId})", "Details", new { id = student.StudentId })</li>
  }
</ul>
@using (Html.BeginForm("DisplayGenerated", "Groups", FormMethod.Get))
{
  @Html.Label("Group Size")
  @Html.DropDownList("groupSize", new SelectList(new List<int>(){2, 3, 4, 5, 6, 7, 8}))

  <button type="submit" class="btn btn-primary" title="Generate Groups">Generate Groups</button>
}
<p>@Html.ActionLink("Click Here to Add Students", "AddStudents", "Students")</p>
<!-- @* @using (Html.BeginForm("Students", "Index", FormMethod.Post))
  {
  @Html.LabelFor(model => model.StudentMatchName)
  @Html.TextBoxFor(model => model.StudentMatchName)

  <input type="submit" value="Add student" />
  } *@ -->