@{
  Layout = "_Layout";
}

@model List<StudentRandomizerMvc.Models.Student>

<h1>Student Roster</h1>

<ul>
  @foreach (Student student in Model)
  {
    <li>@Html.ActionLink($"{student.Name} ({student.StudentId})", "Details", new { id = student.StudentId })
      @using (Html.BeginForm("Delete", "Students", new { id = student.StudentId })) {
        @Html.Hidden("id", @student.StudentId)
        <input type="submit" value="x" />
      }
    </li>
  }
</ul>
<p>@Html.ActionLink("Generate optimal groups", "DisplayGenerated", "Groups")</p>
<p>@Html.ActionLink("Add students", "AddStudents", "Students")</p>
<p>@Html.ActionLink("Delete all students", "DeleteConfirmation", "Students")</p>
<!-- @* @using (Html.BeginForm("Students", "Index", FormMethod.Post))
  {
  @Html.LabelFor(model => model.StudentMatchName)
  @Html.TextBoxFor(model => model.StudentMatchName)

  <input type="submit" value="Add student" />
  } *@ -->